In [4]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'matplotlib'

In [3]:
dir = 'C:/Users/justi/Downloads/auto_price.csv'
auto_price = pd.read_csv(dir)
auto_price.head()

,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,target
0,5.0,164.0,99.800003,176.600006,66.199997,54.299999,2337.0,109.0,3.19,3.4,10.0,102.0,5500.0,24.0,30.0,13950.0
1,5.0,164.0,99.400002,176.600006,66.400002,54.299999,2824.0,136.0,3.19,3.4,8.0,115.0,5500.0,18.0,22.0,17450.0
2,4.0,158.0,105.800003,192.699997,71.400002,55.700001,2844.0,136.0,3.19,3.4,8.5,110.0,5500.0,19.0,25.0,17710.0
3,4.0,158.0,105.800003,192.699997,71.400002,55.900002,3086.0,131.0,3.13,3.4,8.3,140.0,5500.0,17.0,20.0,23875.0
4,5.0,192.0,101.199997,176.800003,64.800003,54.299999,2395.0,108.0,3.50,2.8,8.8,101.0,5800.0,23.0,29.0,16430.0

In [8]:
target_hp = auto_price[['target', 'horsepower']]
target_hp

      target  horsepower
0    13950.0       102.0
1    17450.0       115.0
2    17710.0       110.0
3    23875.0       140.0
4    16430.0       101.0
..       ...         ...
154  16845.0       114.0
155  19045.0       160.0
156  21485.0       134.0
157  22470.0       106.0
158  22625.0       114.0

[159 rows x 2 columns]